$colorNotHover: black;
$colorHover: royalblue;

ul {
    list-style-type: none;
    li {
        font-size: medium;
    }
}
%font_setting {
    color: $colorNotHover;
    font-size: 30px;
}
%font_setting:hover {
    color: $colorHover;
}
#mac {
    float: left;
    width: 500px;
}
#MacTitle {
    @extend %font_setting;
    font-size: 25px;
}
#MacTitle:hover {
    @extend %font_setting, :hover;
    font-size: 25px;
}
.goForMore {
    @extend %font_setting;
}
.goForMore:hover {
    @extend %font_setting, :hover;
}
