$colorNotHover: black;
$colorHover: royalblue;

ul {
    list-style-type: none;
    lh {
        font-size: large;
    }
    li {
        font-size: medium;
    }
}
#mac {
    float: left;
    width: 500px;
}
#MacTitle {
    color: $colorNotHover;
}
#MacTitle:hover {
    color: $colorHover;
}
.goForMore {
    color: $colorNotHover;
}
.goForMore:hover {
    color: $colorHover;
}
