body {
    background-image: url(assets/applelogo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 750px;
    background-position-y: 10rem;
}
h5 {
    font-style: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1rem;
}
@media (min-width: 743px) {
    h5::before {
        content: "Welcome to Apple intro";
    }
}
@media (max-width: 742px) {
    h5::before {
        content: "Welcome";
    }
    body {
        background-size: 550px;
    }
}
.gotoOther {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-align: right;
    float: right;
    font-weight: normal;
    padding: 15px;
    color: black;
}

.gotoOther:hover {
    color: royalblue;
}
#intro span {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 15rem;
    right: 10rem ;
    left: 10rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
#introbutton {
    color: black;
}
#introbutton:hover {
    color: royalblue;
}